version: '3.8'

services:
    # mysql-db:
    #     image: mysql:8.0
    #     container_name: staymate-mysql
    #     restart: always
    #     environment:
    #         MYSQL_ROOT_PASSWORD: ${DB_PASSWORD:?DB_PASSWORD is required}
    #         MYSQL_DATABASE: ${DB_NAME:-authdb}
    #     ports:
    #         - "3306:3306"
    #     volumes:
    #         - mysql_data:/var/lib/mysql
    #     healthcheck:
    #         test: [ "CMD", "mysqladmin", "ping", "-h", "localhost" ]
    #         interval: 10s
    #         timeout: 5s
    #         retries: 5

    minio:
        image: minio/minio:latest
        container_name: staymate-minio
        restart: unless-stopped
        command: server /data --console-address ":9001"
        ports:
            - "9005:9000"
            - "9006:9001"
        environment:
            MINIO_ROOT_USER: minioadmin
            MINIO_ROOT_PASSWORD: minioadmin
        volumes:
            - minio_data:/data

volumes:
    mysql_data:
    minio_data:
