server:
  port:8080
  servlet:
   context-path:/api

spring:
  datasource:
    url: jdbc:mysql://staymate-db.clwsm0s4egrg.ap-south-1.rds.amazonaws.com:3306/staymate?useSSL=false&allowPublicKeyRetrieval=true
    username: staymate_admin
    password: "MdAshikur123+#"

  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: false

  flyway:
    enabled: true
    baseline-on-migrate: true
    locations: classpath:db/migration

logging:
  level:
    org.flywaydb: INFO
